:root {
  --color-nav-primary: #21222a;
  --color-nav-content: #deebf8;
  --color-react-blue: #61dafb;
  --color-main-primary: #282d35;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-nav-primary);
  padding: 1.5rem 3rem;
}

.nav__branding {
  display: flex;
  color: var(--color-react-blue);
  width: 30px;
  align-items: center;
}

.nav__branding__heading {
  font-size: 2.25rem;
  font-weight: bold;
}

.nav__branding > img {
  width: 100%;
  margin-right: 1rem;
}

.nav__content {
  color: var(--color-nav-content);
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0;
}

.main {
  --background-image-size: 50vw;
  background: var(--color-main-primary) url("./assets/react.svg")
    calc(100% + var(--background-image-size) / 2) 75% /
    var(--background-image-size) no-repeat;
  color: #fff;
  padding: 4rem 3rem;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.main__heading {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
}

@media screen and (min-width: 768px) {
  .main {
    --background-image-size: 75vh;
  }
}
.list {
  padding: 0;
}

.list--react {
  margin: 2rem 3.5rem;
}

.list__item {
  font-size: 1.6rem;
  margin-block: 1.5rem;
  max-width: 70vw;
}

.list--react .list__item::marker {
  color: var(--color-react-blue);
  font-size: 2.5rem;
}
